/* align-items: center; */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App > * {
  flex: 1 94%;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  text-align: center;
  flex: 1 0 6%;
  background: #282c34;
  color: papayawhip;
}

.Body {
  flex: 1 0 90%;
  background: papayawhip;
}

.Factory {
  background-color: #888888;
  display: 'flex';
}
